* {
	margin: 0;
	padding: 0px;
}

li {
	list-style: none;
}

ul li {
	list-style: none;
}

input {
	border: none;
	-webkit-appearance: none;
	/*去除阴影边框*/
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*点击高亮的颜色*/
}

body {
	background: url(img/1585562571960.jpeg) no-repeat;
	background-size: 100%;
	font-family: "microsoft yahei";
	width: 100%;
	height: 100%;
	overflow: hidden;
}






/* 滚动条 */
.nui-scroll::-webkit-scrollbar {
	width: 5px;
	/* 表示垂直滚动条的宽度 */
	height: 5px;
	/* 表示水平滚动条的高度 */

}

/*  */

/*鼠标悬浮在该类指向的控件上时滑块的样式*/
.nui-scroll:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	border-radius: 2px;
	height: 5px;

}

/*鼠标悬浮在滑块上时滑块的样式*/
.nui-scroll::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .4);

}

/*正常时候的主干部分*/
.nui-scroll::-webkit-scrollbar-track {
	border-radius: 2px;

	background-color: white;
}

/*鼠标悬浮在滚动条上的主干部分*/
.nui-scroll::-webkit-scrollbar-track:hover {

	background-color: rgba(0, 0, 0, .01);
}

.nui-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .05);
	border-radius: 2px;

}



/* 滚动条 */
.nui-scroll::-moz-scrollbar {
	width: 5px;
	/* 表示垂直滚动条的宽度 */
	height: 5px;
	/* 表示水平滚动条的高度 */

}

/*  */

/*鼠标悬浮在该类指向的控件上时滑块的样式*/
.nui-scroll:hover::-moz-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	border-radius: 2px;
	height: 5px;

}

/*鼠标悬浮在滑块上时滑块的样式*/
.nui-scroll::-moz-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .4);

}

/*正常时候的主干部分*/
.nui-scroll::-moz-scrollbar-track {
	border-radius: 2px;

	background-color: white;
}

/*鼠标悬浮在滚动条上的主干部分*/
.nui-scroll::-moz-scrollbar-track:hover {

	background-color: rgba(0, 0, 0, .01);
}

.nui-scroll::-moz-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .05);
	border-radius: 2px;

}

.nui-scroll {
	/*滚动条滑块按钮的颜色*/
	scrollbar-face-color: #ffffff;
	/*滚动条整体颜色*/
	scrollbar-highlight-color: #ffffff;
	/*滚动条轨道颜色*/
	scrollbar-track-color: #ffffff;
}



#app {
	width: 900px;
	height: 600px;
	border-radius: 30px;
	/* border: skyblue 2px solid; */
	left: 320px;
	top: 100px;
	position: relative;
	background-color: #f3fdfd;
}

.Backgrpund_opacity {
	opacity: 0.8;
}

#top {
	width: 900px;
	height: 50px;
	background-color: #5395c7;
	border-radius: 30px 30px 0 0;
	z-index: -1;
}

#top>img {
	width: 40px;
	height: 40px;
	top: 5px;
	left: 10px;
	position: relative;
	z-index: 999;
}

#top>p {
	display: block;
	position: relative;
	left: 55px;
	top: -30px;
	font-family: "monotype corsivaf";
}


.input1 {
	background-color: white;
	width: 150px;
	height: 25px;
	display: block;
	border-radius: 20px;
	z-index: 99;
	float: right;
	position: relative;
	top: -35px;
	right: 50px;
	padding-left: 10px;
}

#input2 {
	opacity: 0.65;
	display: block;
}

.fRight {
	width: 30px;
	height: 30px;
	left: 815px;
	top: -35px;
	position: relative;
	z-index: 999;
	border-radius: 20px;
}

.fRight>img {
	width: 25px;
	height: 25px;

}

.fLeft {
	width: 50px;
	height: 50px;
	top: 10px;
	position: relative;
	z-index: 999;
	border-radius: 20px;

}

#music_list {
	width: 230px;
	height: 450px;
	overflow: hidden;
	margin-top: 10px;

}

#music_list>h3 {
	position: absolute;
	float: left;
	top: 55px;
	left: 10px;
	margin-bottom: 10px;
}

#music_list_hiden {
	width: 230px;
	height: 470px;
	overflow-y: scroll;
}

#music_list>#music_list_hiden>ul {
	width: 200px;
	height: 450px;
}

#music_list>#music_list_hiden>ul>li {
	width: 210px;
	height: 50px;
	margin: 5px;
	border-radius: 15px;
	background-color: #c0e9ff;
	padding-top: 5px;
}

#music_list>#music_list_hiden>ul>li:hover {
	transform: scale(1.05);
	transform-origin: 0 0;
	margin: 5px;
	border-radius: 15px;
}

#music_name>p>a>img {
	display: inherit;
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
}

#music_data {
	width: 450px;
	height: 450px;
	position: relative;
	left: 222px;
	top: -450px;

}

#music_data>span {
	position: absolute;
	left: 50px;
	top: 20px;
}

@-webkit-keyframes rotation {

	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

#music_data>span>img {
	width: 350px;
	height: 350px;

}

.an {
	-webkit-transform: rotate(360deg);
	animation: rotation 10s linear infinite;
	-moz-animation: rotation 10s linear infinite;
	-webkit-animation: rotation 10s linear infinite;
	-o-animation: rotation 10s linear infinite;

}

#music_data>img {
	display: block;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	margin: 50px;
}

#music_name {
	width: 180px;
	height: 20px;
	text-overflow: ellipsis;
	display: block;

}

#music_name>p {
	margin-left: 5px;
	display: block;
	width: 200px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 14px;


}

#music_singer {
	width: 60px;
	height: 20px;
	/* border: #000000 1px solid;  */
	padding: -5px;
}

#music_singer>span {
	font-size: 12px;
	width: 100px;
	height: 20px;
	margin: 2px 0 0 8px;
	display: block;
	margin-left: 15px;
}

#music_time {
	position: relative;
	width: 60px;
	height: 10px;
	/* 	border: #000000 1px solid; */
	top: -22px;
	left: 50px;
}

#music_time>span {
	font-size: 12px;
}

#mv>a {
	position: relative;
	left: 130px;
	top: -36px;
}

#mv>a>img {
	width: 30px;
	height: 30px;
	display: block;
}

#music_comment {
	width: 240px;
	height: 450px;
	position: relative;
	left: 660px;
	top: -970px;

	overflow: hidden;
}

#music_comment_hiden {
	overflow-y: scroll;
	width: 230px;
	height: 450px;
}

#music_comment_hiden>ul>li {
	width: 220px;
	height: auto;
	border-radius: 20px;
	margin: 10px 5px 10px 2px;
	background-color: #c1edff;

}

#music_comment_hiden>ul>li>div {
	overflow: hidden;
}

#music_comment_hiden>ul>li>div>img {
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 30px;
	border: #0077AA 1px solid;
	background-color: #0077AA;
	float: left;
	margin: 2px 8px 0 10px;

}

#music_comment_hiden>ul>li>div>span {
	width: 30px;
	height: 30px;
	text-overflow: ellipsis;
	font-size: 12px;
	margin: 5px 0 0 0;
}

#music_comment_hiden>ul>li>div>p {
	font-size: 13px;
	width: 220px;
	height: auto;
	text-overflow: ellipsis;
	margin: -2px 5px 6px 10px;


}

#music_button_contor {
	width: 902px;
	height: 50px;
	position: absolute;
	left: -1px;
	top: 553px;
	z-index: -1;
	border-radius: 0 0 30px 30px;
	background-color: #0077AA;
	opacity: 1;

}

#music_button_contor>a {
	position: relative;
	left: 80px;
	top: 8px;
	float: left;
	display: block;
	margin-right: 10px;
}

#music_button_contor>a>img {
	width: 30px;
	height: 30px;

}

.big {
	width: 50px;
	height: 50px;


}

.flip-horizontal {
	transform: scaleX(-1);
}

.visco {
	position: relative;
	left: 600px;
	top: 8px;

	display: block;
	margin-right: 10px;
}

audio {
	position: absolute;
	width: 902px;
	height: 50px;
	left: 0px;
	top: 0px;
	border-radius: 0 0 30px 30px;
	background-color: #0077AA;
	z-index: 99;
	float: left;
}

#mv_con {
	width: 1550px;
	height: 900px;
	opacity: 1;
	z-index: 999;
	position: absolute;
	left: -320px;
	top: -100px;
}

#mv_play {
	width: 800px;
	height: 500px;
	left: 380px;
	top: 150px;
	position: absolute;
	opacity: 1;
	background-color: #000000;
	z-index: 99;
}

#mask {
	width: 1550px;
	height: 900px;
	position: absolute;
	background-color: #515151;
	float: left;
	left: -380px;
	top: -150px;
	z-index: -1;
	opacity: 0.99;
}
